.vscode/c_cpp_properties.json
*.o
*.a
libft-unit-test
*.swp
.DS_Store

Cursus42/.vscode/settings.json
.vscode/configurationCache.log
.gitignore
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
